@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Sono:wght@300;400;600&display=swap');

:root {
	--main-color: hsl(240, 100%, 5%);
	--primary-blue: hsl(233, 8%, 79%);
	--dark-grayish-blue: hsl(236, 13%, 42%);
	--text: #3b3c38;
	--soft-orange: hsl(35, 77%, 62%);
	--soft-red: hsl(5, 85%, 63%);
	--paragraph: 15px;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #fcfafa;
	font-family: 'Sono', 'Roboto', sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
